#info{

    text-align: center;
    font-weight: bold;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-image:url("../images/h_img.jpg");
}
.about{
    margin-top: 50px;
  margin-bottom: 50px;
font-style: initial;
text-align: center;
}
#logo {
    margin-top: 17%;
}